.wrapper {
    width: 600px;
    margin: 30px auto;
    position: relative;
}

#slider {
    width: 600px;
    height: 400px;
    margin: 10px auto;
    overflow: hidden;
}

#slider > img {
    float: left;
    display: none;
}

.arrows {
    position: absolute;
    height: 20px;
    width: 20px;
    border-top: 3px solid white;
    border-right: 3px solid white;
}

.prev {
    left: 5px;
    top: 200px;
    transform: rotate(225deg);
}

.next {
    right: 5px;
    top: 200px;
    transform: rotate(45deg);
}
