.wrapper {
    width: 600px;
    margin: 30px auto;

}

#slider {
    width: 600px;
    height: 400px;
    margin: 30px auto;
    overflow: hidden;
}

#slider > img {
    float: left;
    display: none;
}

a {
    padding: 5px 10px;
    background-color: #F0F0F0;
    color: black;
    margin-top: 30px;
    text-decoration: none;
}

a.left {
    float: left;
}

a.right {
    float: right;
}
